{% extends 'base.html' %}
{% block content %}
  <section>
        <header class="main">
              <h1>
                   {{article.title|upper}}
              </h1>
        </header>
        <span class="image main">
               {% load thumbnail %}
              <img src="{{article.image|thumbnail_url:'detailArticle' }}" alt=" " />
            <!-- <hr class="major"> -->
              <ul class="actions fit disabled">
                    <li>
                           <p style="text-align: left;">Writen By: {{ article.user|upper}}</p>
                          
                    </li>
                    <li>
                           
                           <p style="text-align: right;">{{ article.creade_date|date:"D d m Y"}}</p>
                    </li>
              </ul>

              <p>
                     {{article.intro|capfirst}}
              </p>
             <hr>
              
             
            <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                  Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem
                  diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id
                  ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit.
                  Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus,
                  commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis,
                  hendrerit.</p>
            </span>
  </section>
  <section>
<h1>


</h1>
<hr>
<!-- old comments -->
      <h3>Comments:</h3>
      {% for i in comment  %}
      
            
      
     
      <div class="box">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y" alt="user img">
            <h4>{{i.name}}</h4>
            <p>{{i.date_added}}</p>
            <hr>
            <p>
                  {{i.body}}
            </p>
      </div>
      {% endfor %}

      <!-- comment form -->
      <form method="post" action="#">
            <div class="row gtr-uniform">
                  <div class="col-6 col-12-xsmall">
                        <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name">
                  </div>
                  <div class="col-6 col-12-xsmall">
                        <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email">
                  </div>
                  <!-- Break -->
                  <div class="col-12">

                  </div>
                  <!-- Break -->







                  <div class="col-12">
                        <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                  </div>
                  <!-- Break -->
                  <div class="col-12">
                        <ul class="actions">
                              <li><input type="submit" value="Send Message" class="primary"></li>
                              <li><input type="reset" value="Reset"></li>
                        </ul>
                  </div>
            </div>
      </form>
  </section>


{% endblock content %}
