{% extends 'index.html' %}
{% block main %}
     <!-- Section -->
     <section>
       <header class="major">
         <h2>{{type.0}}</h2>
       </header>
       <div class="posts">           
     {% for item in articles %}
     <article>
        {% if item.article_type == type.0 %}
          
           <a href="#" class="image">
             {% load thumbnail %}
             
             {% comment %}
               {% thumbnail [source] [size] [options] as [variable] %}
             {% endcomment %}
              
               <img src="{{item.image|thumbnail_url:'listArticle' }}" alt=" " />
            </a>
            <h3> {{item.title}}</h3>
            <p>
              {{item.intro}}
            </p>
            <ul class="actions">
              <li><a href="{% url 'Articles_app:detials' slug=item.slug %}" class="button">More</a></li>
            </ul>
            {% else %}
             <p>No Article Added Yet..</p>
           {% endif %}
          </article>

          {% endfor %}
       </div>

         <!--pagination-->
         <section>
           {% if articles.has_other_pages %}
           <ul class="pagination" style="text-align: center;">
             {% if articles.has_previous %}
             <li><a class="icon solid fa-arrow-left" href="?page={{articles.previous_page_number}}"></a></li>
             {% endif %}

             {% for i in articles.paginator.page_range  %}
             <li><a href="?page={{i}}" class="page">{{i}}</a></li>
             {% endfor %}

             {% if articles.has_next %}

             <li><a href="?page={{articles.next_page_number}}" class="icon solid fa-arrow-right"></a></li>
             {% endif %}
           </ul>
           {% endif %}

         </section>
     </section>
     


        <section>
          <header class="major">
            <h2>{{type.1}}</h2>
          </header>
          <div class="posts">
            {% for item in articles %}
            <article>
              {% if item.article_type == type.1 %}

              <a href="#" class="image">
                {% load thumbnail %}

                {% comment %}
                {% thumbnail [source] [size] [options] as [variable] %}
                {% endcomment %}

                <img src="{{item.image|thumbnail_url:'listArticle' }}" alt=" " />
              </a>
              <h3> {{item.title}}</h3>
              <p>
                {{item.intro}}
              </p>
              <ul class="actions">
                <li><a href="{% url 'Articles_app:detials' slug=item.slug %}" class="button">More</a></li>
              </ul>
              {% else %}
              <p>No Article Added Yet..</p>
              {% endif %}
            </article>

            {% endfor %}
          </div>

          <!--pagination-->
          <section>
            {% if articles.has_other_pages %}
            <ul class="pagination" style="text-align: center;">
              {% if articles.has_previous %}
              <li><a class="icon solid fa-arrow-left" href="?page={{articles.previous_page_number}}"></a></li>
              {% endif %}

              {% for i in articles.paginator.page_range  %}
              <li><a href="?page={{i}}" class="page">{{i}}</a></li>
              {% endfor %}

              {% if articles.has_next %}

              <li><a href="?page={{articles.next_page_number}}" class="icon solid fa-arrow-right"></a></li>
              {% endif %}
            </ul>
            {% endif %}

          </section>
        </section>
    
    

{% endblock main %}